.main_sec{
    width: 100%;
    height: 100vh;
    

}
.div_con{
    display: flex;
}
.div_img{
    width: 80%;
    height: 100vh;
    overflow: hidden;
    object-fit: contain;
}
.div_card{
    text-align: center;
    width: 30%;
    align-items: center;
    background-color: rgb(130, 167, 152);
}